// Colors
$color_back: #000000;
$color_white: #ffffff;
$color_purple: #5454d4;
$color_main_bg: #19191b;
$color_white_opacity: rgba(255, 255, 255, 0.2);
$color_white_text: rgba(255, 255, 255, 0.7);

// Viewports

$mobile-width: 375px;
